body {
    padding: 0;
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-areas: "head head head" "content content content" "footer footer foorer";
    grid-template-columns: 10% 1fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.item {
    margin: auto;
    grid-area: head;
    font-style: italic;
    font-family: Arial;
    align-content: center;
    text-align: center;
}

.main {
    grid-area: content;
    background-color: teal;
}

.footer {
    grid-area: footer;
    background-color: sandybrown;
}

.estadistica {
    display: grid;
    grid-template: repeat(2, auto)/20% auto;
    grid-template-areas: "it1 it3" "it2 it3";
    width: 100%;
    height: 250px;
    background-color: grey
}

.estadistica__item1 {
    grid-area: it1;
    background-color: rgb(255, 74, 225);
}