*{
    margin: 0px;
    padding: 0px;
}
.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    padding: 0.5% 0.5%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250);
}
nav img {
    width: 25px;
    padding: 0% 0%;
    
}
.linksnavegacion{
    flex: 1 ;
    text-align: center;
    background-color: rgb(155, 155, 155);

}
.linksnavegacion ul li{
    list-style:none;
    display: inline-block;
    padding: 1% 4%;
    position: relative;
    font-size: 25px;
    background-color: rgb(160, 160, 160);
    
}
.linksnavegacion ul li a{
    color: black;
}
