* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    background-image: url(fondo4.png);
    background-size: 100%;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "nav nav nav" "banner banner banner" "content content content" "footer footer footer";
    grid-template-rows: 20% 8% 1fr 1fr;
}

.navegador {
    text-align: center;
    grid-area: nav;
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: white;
}

.flecha {
    cursor: pointer;
    width: 50px;
    transform: scaleX(-1);
}

.logo {
    cursor: pointer;
    height: 10vh;
    width: 10vw;
}

#title02 {
    text-align: center;
    background-color: rgb(185, 20, 20);
}

.banner {
    text-align: center;
    grid-area: banner;
    align-content: center;
    align-items: center;
    color: white;
}