* {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    background-image: url(fondo4.png);
    background-size: 100%;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "nav nav nav" "banner banner banner" "content content content" "footer footer footer";
    grid-template-rows: 20% 1fr 1fr;
}

.navegador {
    text-align: center;
    grid-area: nav;
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: white;
}

.flecha {
    cursor: pointer;
    width: 50px;
    transform: scaleX(-1);
}

.logo {
    height: 10vh;
    width: 10vw;
}

.title01 {
    grid-area: nav;
    text-align: center;
    inline-size: 100%;
    align-items: center;
    background-color: white;
}

#title02 {
    align-items: center;
    text-align: center;
    justify-items: center;
    width: 100%;
    background-color: rgb(185, 20, 20);
}

.banner {
    text-align: center;
    grid-area: banner;
    inline-size: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    color: white;
}

.base {
    background-image: url(fondo4.png);
    width: 100vw;
    height: auto;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor02 {
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: "esp esp esp" "content content content" "footer footer footer";
    grid-template-rows: 20% 60% 20%;
    inline-size: 100vw;
    height: 30vh;
    width: 75vw;
    background-color: rgb(153, 255, 70);
    border-radius: 10px;
}

.img-1 {
    grid-area: content;
    margin-left: 4%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
}

.a {
    grid-area: nav;
    height: auto;
    width: auto;
}

.M2 {
    grid-area: content;
    justify-self: center;
    width: auto;
    height: auto;
    font-size: auto;
}

.M3 {
    grid-area: content;
    padding-top: 5%;
    justify-self: center;
    font-size: auto;
    width: auto;
    height: auto;
}

.M4 {
    grid-area: content;
    justify-self: center;
    padding-top: 10%;
    width: auto;
    height: auto;
    font-size: auto;
}

.cross {
    grid-area: footer;
    margin-left: 13%;
    height: 30px;
    width: 90px;
    background-color: red;
    border: black;
    border-radius: 10px;
}

.acept {
    grid-area: footer;
    margin-left: 10%;
    height: 30px;
    width: 30px;
    background-color: rgb(31, 223, 31);
    border: black;
    border-radius: 10px;
}

.M21 {
    grid-area: content;
    justify-self: right;
    padding-right: 5%;
    width: auto;
    height: auto;
    font-size: auto;
}

.M31 {
    grid-area: content;
    padding-top: 5%;
    padding-right: 5%;
    justify-self: right;
    font-size: auto;
    width: auto;
    height: auto;
}

.M41 {
    grid-area: content;
    justify-self: right;
    padding-top: 10%;
    padding-right: 5%;
    width: auto;
    height: auto;
    font-size: auto;
}

.buttons {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    justify-self: center;
}